.body {
    align-items: center;
    box-sizing: border-box;
    background-color: white
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: left;
    text-align: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
